
/* Background Properties */

h1{
    text-align: center;

    /* 1. background-color */
    background-color: aqua;
}

.bgimg{

    /* 
    
    <div class="bgimg">
        <!-- <img src="./lion-king-pictures-.webp" alt="The lion"> -->

        <h2>The Lion King</h2>
    </div>
    
    */

    width: 500px;
    height: 70px;
    border: 2px solid black;

    text-align: center;

    /* background-color */
    background-color: aqua;
    

    color: rgb(5, 5, 5);

    /* background-image */
    background-image: url("./lion-king-pictures-.webp");

    /* background-size : auto, cover, contain, user-defined px,% 's */
    /* background-size: 50% 50%; */
    background-size: contain;

    /* background-repeat : repeat, no-repeat, repeat-x, repeat-y, space, round  */
    background-repeat: no-repeat;

    /* background-position */
    /* background-position: left top ; */
    /* background-position: 100px 100px; */


    /* background-attachment: fixed, scroll */
    background-attachment:fixed ;

    /* background-clip */
    color: transparent;
    background-clip: text;
    /* -webkit-background-clip: text; */
}

